<h1> Title: <%= @current_movie[:title] %> </h1>


<table class="table">

  <tr>
    <th>Year Released</th>
    <th>Critic's Rating</th>
    <th>Genre</th>
    <th>Studio</th>
  </tr>

  <tr>
    <td> <%= @current_movie[:year] %> </td>
    <td> <%= @current_movie[:rating] %> </td>
    <td> <%= @current_movie[:genre] %> </td>
    <td> <%= @current_movie[:studio] %> </td>
  </tr>

</table>

<h1> Synopsis </h1>
<p> <%= @current_movie[:synopsis] %> </p>
